body {
    font-family: arial;
    margin: 0;
    background: rgb(211, 211, 211);  
}

body #wrapper {
    width: 100%;
    margin: 0 auto;
    background: rgb(211, 211, 211);
}

#main-navigation {
    background-color: rgb(214, 182, 0);
    padding: 13px;
    height: 45px;    
}

#main-navigation ul {
    text-align: center;
    list-style-type: none;
    margin-right: 10px;
}

#main-navigation li {
    display: inline-block;
    margin-right: 15px;
}

#main-navigation a {
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    /*background: yellow;*/
    /*background: -webkit-linear-gradient(top, yellow 0% ,  rgb(168, 143, 0) 100%); */
}

#main-navigation a:hover {
    color: greenyellow;
    text-decoration: underline;
}

#main-navigation a:active {
    color: grey;
}

#main-navigation a.paints {
    color: brown;
}

#main-navigation a.logging {
    margin-right: 0px;
    margin-left: 300px;
    box-shadow: 2px 2px 4px 2px rgba(52, 70, 26, 0.6);
    border-radius: 4px;
    color: brown;
}


div #logo img {
    width: 100%; 
    height: 800px;
}

#recent {
    margin: 0px auto;
    text-align: center;
    font-size: 22px;
    color: brown;
    margin: 70px;
    margin-bottom: 1px;
}

.horzline {
    width: 93%;
    margin-bottom: 50px;
}

#product .paint img {
    width: 40%;
    height: 550px;
    margin-right: 60px;
    margin-left: 55px;
    display: inline-block;
}

#product .product-name h3{
    color: rgb(100, 148, 29);
    display: inline-block;
    margin-left: 245px;
    margin-right: 260px;
    margin-top: 50px;
    margin-bottom: 2px;
}

#product .paint-price h1{
    color: rgb(100, 148, 29);
    display: inline-block;
    margin-left: 230px;
    margin-right: 240px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 50px;
    font-weight: bold;
}

#product .product-bag a{
    color: rgb(100, 148, 29);
    display: inline-block;
    text-decoration: none;
    margin-left: 215px;
    margin-right: 230px;
    margin-top: 3px;
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid rgb(214, 182, 0);
    border-radius: 4px;  
    padding: 10px 10px;
    background-color: rgb(214, 182, 0);
}
#product .product-bag a:hover {
    color: greenyellow;
    text-decoration: underline;   
}

#product .product-bag a:active {
    color: grey;
}

.all-products {
   background: #d6b60099;
   width: 100%;
   background: -webkit-linear-gradient(top,rgba(214, 182, 0,0.6) 0% , rgba(255, 86, 7, 0.6) 100%);
}

.all-products h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    color: brown;
    text-align: center;
    
    margin-top: 20px;
    box-shadow: 2px 2px 4px 2px rgba(52, 70, 26, 0.6);
    border-radius: 4px;
}

#back img {
    width: 875px;
    height: 600px;
    margin-left: 235px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    cursor: pointer;
}

#side img {
    width: 150px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 5px;
    margin-left: 145px;
    display:inline-flexbox;
    opacity: 0.5;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#side img.op-one {
    opacity: 1;
}





 




















